<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
<input type="hidden" id="hiddentextointroducao" name="textointroducao" value="" />

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.nome : '') %>" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="nomeexterno">Nome externo</label>
            <input id="nomeexterno" name="nomeexterno" maxlength="100" class="form-control" type="text"
                spellcheck="false" value="<%=(item ? item.nomeexterno : '') %>" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="iddepartamento" name="iddepartamento" />
            <label for="iddepartamentoselect">Departamento</label>
            <select id="iddepartamentoselect" class="form-control" size="1">
                <% for (let i=0; i < departamentos.length; i++) { %>
                    <option value="<%= departamentos[i].id %>">
                        <%= departamentos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="iddisponibilidade">Disponibilidade do Link</label>
            <select id="iddisponibilidade" name="iddisponibilidade" class="form-control" size="1">
                <option value="">Selecione...</option>
                <% for (let i=0; i < disponibilidades.length; i++) { %>
                    <option value="<%= disponibilidades[i].id %>" <%-((item &&
                        item.iddisponibilidade===disponibilidades[i].id) ? 'selected="selected"' : '' ) %>><%=
                            disponibilidades[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="anonimo">Anônimo</label>
            <select id="anonimo" name="anonimo" class="form-control" size="1">
                <option value="">Selecione...</option>
                <option value="0" <%-((item && item.anonimo==0) ? 'selected="selected"' : '' ) %>> Sim
                </option>
                <option value="1" <%-((item && item.anonimo==1) ? 'selected="selected"' : '' ) %>>Não
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="idpublicosalvos" name="idpublicosalvos" />
            <label for="idpublicoalvoselect">Público-alvo</label>
            <select id="idpublicoalvoselect" class="form-control" size="1">
                <% for (let i=0; i < publicosalvos.length; i++) { %>
                    <option value="<%= publicosalvos[i].id %>">
                        <%= publicosalvos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="url">URL</label>
            <input id="url" name="url" maxlength="100" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.url : '') %>" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 mb-4">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input id="descricao" name="descricao" maxlength="255" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.descricao : '') %>" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-4">
        <div class="form-group">
            <label for="textointroducao">Texto da introdução</label>
            <div id="textointroducao" class="d-none"><%- (item ? item.textointroducao : '' ) %></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center mb-3">
        <h5>Aparência do Questionário</h5>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="corfundopagina">Cor do fundo da página</label>
            <input id="corfundopagina" name="corfundopagina" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundopagina : '') %>" />
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="corfundocard">Cor do fundo do card</label>
            <input id="corfundocard" name="corfundocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundocard : '') %>" />
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="cortextocard">Cor do texto do card</label>
            <input id="cortextocard" name="cortextocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextocard : '') %>" />
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="cordestaque">Cor de destaque</label>
            <input id="cordestaque" name="cordestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cordestaque : '') %>" />
        </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="cortextodestaque">Cor do texto do destaque</label>
            <input id="cortextodestaque" name="cortextodestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextodestaque : '') %>" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemintroducao">Imagem da Introdução</label>
            <input id="imagemintroducao" name="imagemintroducao" class="form-control" type="file"
                accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_introducao"
                    id="chkExcluirImagemIntroducaoAtual" />
                <label class="form-check-label" for="chkExcluirImagemIntroducaoAtual">
                    Excluir Imagem da Introdução Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaointroducao > 0) ? '' : 'd-none') %>" id="divImagemIntroducao">
        <div class="form-group">
            <label for="imgIntroducao">Imagem da Introdução Atual</label>
            <img id="imgIntroducao"
                src="<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaointroducao) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaointroducao) %>"><i
                class="fa fa-download"></i> Baixar Imagem da Introdução Atual</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemquestionario">Imagem do Questionário</label>
            <input id="imagemquestionario" name="imagemquestionario" class="form-control" type="file"
                accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_questionario"
                    id="chkExcluirImagemQuestionarioAtual" />
                <label class="form-check-label" for="chkExcluirImagemQuestionarioAtual">
                    Excluir Imagem do Questionário Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaoquestionario > 0) ? '' : 'd-none') %>" id="divImagemQuestionario">
        <div class="form-group">
            <label for="imgQuestionario">Imagem do Questionário Atual</label>
            <img id="imgQuestionario"
                src="<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaoquestionario) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaoquestionario) %>"><i
                class="fa fa-download"></i> Baixar Imagem do Questionário Atual</a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemlogo">Imagem da Logo</label>
            <input id="imagemlogo" name="imagemlogo" class="form-control" type="file" accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_logo"
                    id="chkExcluirImagemLogoAtual" />
                <label class="form-check-label" for="chkExcluirImagemLogoAtual">
                    Excluir Imagem da Logo Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaologo > 0) ? '' : 'd-none') %>" id="divImagemLogo">
        <div class="form-group">
            <label for="imgLogo">Imagem da Logo Atual</label>
            <img id="imgLogo"
                src="<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaologo) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaologo) %>"><i
                class="fa fa-download"></i> Baixar Imagem da Logo Atual</a>
    </div>
</div>

<% if (item) { %>
    <div class="row">

        <div class="col-12">
            <div class="form-group">
                <input type="hidden" id="idarquetipos" name="idarquetipos" />
                <label for="iddarquetiposselect">Arquétipo</label>
                <select id="iddarquetiposselect" class="form-control" size="1">
                    <% for (let i=0; i < arquetipos.length; i++) { %>
                        <option value="<%= arquetipos[i].id %>">
                            <%= arquetipos[i].nome %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>
    <% } %>


        <%- contentFor("scripts") %>

            <link rel="stylesheet" type="text/css" href="<%- staticRoot %>/css/ckeditor.css" />
            <script type="text/javascript" src="<%- staticRoot %>/lib/ckeditor/ckeditor.js"></script>

            <script type="text/javascript">
                //<![CDATA[
                "use strict";

                CKEDITOR.replace("textointroducao");

                prepareMultiselect("#iddepartamentoselect", { title: "Departamento", label: "Departamento" });
                prepareMultiselect("#idpublicoalvoselect", { title: "Público-alvo", label: "Público-alvo" });


                //<% if (item) { %>

                setMultiselectSelection("#iddepartamentoselect", [<% - item.iddepartamento.map(d => d.iddepartamento).join(",") %>]);
                setMultiselectSelection("#idpublicoalvoselect", [<% - item.idpublicosalvos.map(d => d.idpublicoalvo).join(",") %>]);

                prepareMultiselect("#iddarquetiposselect", { title: "Arquétipo", label: "Arquétipo" });
                setMultiselectSelection("#iddarquetiposselect", [<% - item.idarquetipos.map(d => d.idarquetipo).join(",") %>]);




                //<% } %>

                $("#form").validate({
                    rules: {
                        nome: {
                            required: true
                        },
                        nomeexterno: {
                            required: true,
                        },
                        iddisponibilidade: {
                            required: true,
                        },
                        anonimo: {
                            required: true,
                        },
                        idpublicoalvo: {
                            required: true,
                        },
                        url: {
                            required: true,
                            // url: true
                        },
                        descricao: {
                            required: true,
                        },
                        iddepartamento: {
                            required: true,
                        },
                        corfundopagina: {
                            required: true,
                        },
                        corfundocard: {
                            required: true,
                        },
                        cortextocard: {
                            required: true,
                        },
                        cordestaque: {
                            required: true,
                        },
                        cortextodestaque: {
                            required: true,
                        },
                        imagemintroducao: {
                            tamanhoArquivoMaximoKiB: 1024,
                        },
                        imagemquestionario: {
                            tamanhoArquivoMaximoKiB: 1024,
                        },
                        imagemlogo: {
                            tamanhoArquivoMaximoKiB: 1024,
                        },
                        idarquetipos: {
                            required: true
                        }
                    },

                    submitHandler: function (form) {
                        if (JsonWebApi.active)
                            return;

                        Swal.wait();

                        $("#iddepartamento").val(getMultiselectSelection("#iddepartamentoselect").join(","));
                        $("#idpublicosalvos").val(getMultiselectSelection("#idpublicoalvoselect").join(","));
                        $("#hiddentextointroducao").val(CKEDITOR.instances.textointroducao.getData());


                        //<% if (item) { %>

                        $("#idarquetipos").val(getMultiselectSelection("#iddarquetiposselect").join(","));


                        JsonWebApi.postFormData("<%- root %>/api/questionario/editar", new FormData(form), function (response) {
                            if (response.success) {

                                const imagemIntroducao = document.getElementById("imagemintroducao");
                                const chkExcluirImagemIntroducaoAtual = document.getElementById("chkExcluirImagemIntroducaoAtual");
                                const imagemQuestionario = document.getElementById("imagemquestionario");
                                const chkExcluirImagemQuestionarioAtual = document.getElementById("chkExcluirImagemQuestionarioAtual");
                                const imagemLogo = document.getElementById("imagemlogo");
                                const chkExcluirImagemLogoAtual = document.getElementById("chkExcluirImagemLogoAtual");

                                if (imagemIntroducao.value) {
                                    imagemIntroducao.value = "";
                                    $("#imgIntroducao").attr("src", "<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=" + response.value);
                                    $("#divImagemIntroducao").removeClass("d-none");
                                } else if (chkExcluirImagemIntroducaoAtual.checked) {
                                    $("#divImagemIntroducao").addClass("d-none");
                                }

                                if (imagemQuestionario.value) {
                                    imagemQuestionario.value = "";
                                    $("#imgQuestionario").attr("src", "<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=" + response.value);
                                    $("#divImagemQuestionario").removeClass("d-none");
                                } else if (chkExcluirImagemQuestionarioAtual.checked) {
                                    $("#divImagemQuestionario").addClass("d-none");
                                }

                                if (imagemLogo.value) {
                                    imagemLogo.value = "";
                                    $("#imgLogo").attr("src", "<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=" + response.value);
                                    $("#divImagemLogo").removeClass("d-none");

                                } else if (chkExcluirImagemLogoAtual.checked) {
                                    $("#divImagemLogo").addClass("d-none");
                                }

                                chkExcluirImagemQuestionarioAtual.checked = false;
                                chkExcluirImagemLogoAtual.checked = false;
                                chkExcluirImagemIntroducaoAtual.checked = false;
                                Swal.success("Questionário alterado com sucesso! " + emoji.happy);
                            }
                            else
                                Swal.error(response.value + " " + emoji.sad);
                        });

                        //<% } else { %>

                        JsonWebApi.postFormData("<%- root %>/api/questionario/criar", new FormData(form), function (response) {
                            if (response.success) {
                                CKEDITOR.instances.textointroducao.setData("");
                                resetForm("#form");
                                Swal.success("Questionário criado com sucesso! " + emoji.happy).then(() => {
                                    JsonWebApi.redirect("<%- root %>/questionario/editar?id=" + response.value);
                                });
                            } else {
                                Swal.error(response.value + " " + emoji.sad);
                            }
                        });

                        //<% } %>
                    }
                });
                //]]>
            </script>