<div class="row">

    <input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

    <div class="col-md-6">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.nome : '') %>" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="nomeexterno">Nome externo</label>
            <input id="nomeexterno" name="nomeexterno" maxlength="100" class="form-control" type="text"
                spellcheck="false" value="<%=(item ? item.nomeexterno : '') %>" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="iddisponibilidade">Disponibilidade do Link</label>
            <select id="iddisponibilidade" name="iddisponibilidade" class="form-control" size="1">
                <option value="">Selecione...</option>
                <% for (let i=0; i < disponibilidades.length; i++) { %>
                    <option value="<%= disponibilidades[i].id %>" <%-((item &&
                        item.iddisponibilidade===disponibilidades[i].id) ? 'selected="selected"' : '' ) %>><%=
                            disponibilidades[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="anonimo">Anônimo</label>
            <select id="anonimo" name="anonimo" class="form-control" size="1">
                <option value="">Selecione...</option>
                <option value="true" <%-((item && item.anonimo==true) ? 'selected="selected"' : '' ) %>> Sim
                </option>
                <option value="false" <%-((item && item.anonimo==false) ? 'selected="selected"' : '' ) %>>Não
                </option>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="idpublicoalvo" name="idpublicoalvo" />
            <label for="idpublicoalvoselect">Público-alvo</label>
            <select id="idpublicoalvoselect"  class="form-control" size="1">
                <% for (let i=0; i < publicos.length; i++) { %>
                    <option value="<%= publicos[i].id %>">
                        <%= publicos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label for="url">URL</label>
            <input id="url" name="url" maxlength="100" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.url : '') %>" />
        </div>
    </div>

    
    <div class="col-12">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input id="descricao" name="descricao" maxlength="255" class="form-control" type="text"
                spellcheck="false" value="<%=(item ? item.descricao : '') %>" />
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="form-group">
            <input type="hidden" id="iddepartamento" name="iddepartamento" />
            <label for="iddepartamentoselect">Departamento</label>
            <select id="iddepartamentoselect" class="form-control" size="1">
                <% for (let i=0; i < departamentos.length; i++) { %>
                    <option value="<%= departamentos[i].id %>">
                        <%= departamentos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>

    <div class="col-12 mb-3 mt-3">
        <hr>
    </div>

    <div class="col-12 text-center mb-3">
        <h5>Aparência do Questionário</h5>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="corfundopagina">Cor do fundo da página</label>
            <input id="corfundopagina" name="corfundopagina" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundopagina : '') %>" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="corfundocard">Cor do fundo do card</label>
            <input id="corfundocard" name="corfundocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundocard : '') %>" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label for="cortextocard">Cor do texto do card</label>
            <input id="cortextocard" name="cortextocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextocard : '') %>" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="cordestaque">Cor de destaque</label>
            <input id="cordestaque" name="cordestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cordestaque : '') %>" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="cortextodestaque">Cor do texto do destaque</label>
            <input id="cortextodestaque" name="cortextodestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextodestaque : '') %>" />
        </div>
    </div>

</div>
<%- contentFor("scripts") %>
    <script type="text/javascript">
        //<![CDATA[
        "use strict";


        prepareMultiselect("#iddepartamentoselect", { title: "Departamento", label: "Departamento" });

        //<% if (item) { %>
        setMultiselectSelection("#iddepartamentoselect", [<% - item.iddepartamento.map(d => d.iddepartamento).join(",") %>]);
        //<% } %>

        prepareMultiselect("#idpublicoalvoselect", { title: "Público-alvo", label: "Público-alvo" });

        //<% if (item) { %>
        setMultiselectSelection("#idpublicoalvoselect", [<% - item.idpublicoalvo.map(d => d.idpublicoalvo).join(",") %>]);
        //<% } %>

        $("#form").validate({
            rules: {
                nome: {
                    required: true
                },
                nomeexterno: {
                    required: true,
                },
                iddisponibilidade: {
                    required: true,
                },
                anonimo: {
                    required: true,
                },
                idpublicoalvo: {
                    required: true,
                },
                url: {
                    required: true,
                    // url: true
                },
                descricao: {
                    required: true,
                },
                iddepartamento: {
                    required: true,
                },
                corfundopagina: {
                    required: true,
                },
                corfundocard: {
                    required: true,
                },
                cortextocard: {
                    required: true,
                },
                cordestaque: {
                    required: true,
                },
                cortextodestaque: {
                    required: true,
                }

            },

            submitHandler: function (form) {
                if (JsonWebApi.active)
                    return;

                Swal.wait();

                $("#iddepartamento").val(getMultiselectSelection("#iddepartamentoselect").join(","));
                $("#idpublicoalvo").val(getMultiselectSelection("#idpublicoalvoselect").join(","));
                form.anonimo = $("#anonimo").val() === "true " ? true : false;

                //<% if (item) { %>

                JsonWebApi.postFormData("<%- root %>/api/questionario/editar", form, function (response) {
                    if (response.success)
                        Swal.success("Arquetipo alterado com sucesso! " + emoji.happy);
                    else
                        Swal.error(response.value + " " + emoji.sad);
                });

                //<% } else { %>

                JsonWebApi.postFormData("<%- root %>/api/questionario/criar", form, function (response) {
                    if (response.success) {
                        Swal.success("Arquetipo criado com sucesso! " + emoji.happy);
                    } else {
                        Swal.error(response.value + " " + emoji.sad);
                    }
                });

                //<% } %>
            }
        });
        //]]>
    </script>