<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />
<input type="hidden" id="hiddentextointroducao" name="textointroducao" value="" />
<input type="hidden" id="questoes" name="questoes" value="" />

<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-edit"></i> Informações Gerais</h2>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input id="nome" name="nome" maxlength="100" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.nome : '') %>" />
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="nomeexterno">Nome externo</label>
            <input id="nomeexterno" name="nomeexterno" maxlength="100" class="form-control" type="text"
                spellcheck="false" value="<%=(item ? item.nomeexterno : '') %>" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="iddepartamento" name="iddepartamento" />
            <label for="iddepartamentoselect">Departamento</label>
            <select id="iddepartamentoselect" class="form-control" size="1">
                <% for (let i=0; i < departamentos.length; i++) { %>
                    <option value="<%= departamentos[i].id %>">
                        <%= departamentos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="iddisponibilidade">Disponibilidade do Link</label>
            <select id="iddisponibilidade" name="iddisponibilidade" class="form-control" size="1">
                <option value="">Selecione...</option>
                <% for (let i=0; i < disponibilidades.length; i++) { %>
                    <option value="<%= disponibilidades[i].id %>" 
                    <%-((item && item.iddisponibilidade===disponibilidades[i].id) ? 'selected="selected"' : '' ) %>>
                    <%= disponibilidades[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="anonimo">Anônimo</label>
            <select id="anonimo" name="anonimo" class="form-control" size="1">
                <option value="">Selecione...</option>
                <option value="1" <%-((item && item.anonimo==1) ? 'selected="selected"' : '' ) %>> Sim
                </option>
                <option value="0" <%-((item && item.anonimo==0) ? 'selected="selected"' : '' ) %>>Não
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="hidden" id="idpublicosalvos" name="idpublicosalvos" />
            <label for="idpublicoalvoselect">Público-alvo</label>
            <select id="idpublicoalvoselect" class="form-control" size="1">
                <% for (let i=0; i < publicosalvos.length; i++) { %>
                    <option value="<%= publicosalvos[i].id %>">
                        <%= publicosalvos[i].nome %>
                    </option>
                    <% } %>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="url">URL</label>
            <div class="input-group mb-3">
                  <div class="input-group-prepend">
                        <span class="input-group-text" id="urlbase"></span>
                    </div>
                <input id="url" name="url" maxlength="100" class="form-control" type="text" spellcheck="false" 
                value="<%=(item ? item.url : '') %>" aria-describedby="urlbase"/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input id="descricao" name="descricao" maxlength="255" class="form-control" type="text" spellcheck="false"
                value="<%=(item ? item.descricao : '') %>" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="textointroducao">Texto da introdução</label>
            <div id="textointroducao" class="d-none"><%- (item ? item.textointroducao : '' ) %></div>
        </div>
    </div>
</div>

<hr class="my-5" />

<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-palette"></i> Cores</h2>

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="corfundopagina">Fundo da Página</label>
            <input id="corfundopagina" name="corfundopagina" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundopagina : '') %>" />
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="corfundocard">Fundo do Card</label>
            <input id="corfundocard" name="corfundocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.corfundocard : '') %>" />
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="cortextocard">Texto do Card</label>
            <input id="cortextocard" name="cortextocard" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextocard : '') %>" />
        </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="cordestaque">Destaque</label>
            <input id="cordestaque" name="cordestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cordestaque : '') %>" />
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="cortextodestaque">Texto de Destaque</label>
            <input id="cortextodestaque" name="cortextodestaque" class="form-control" type="color" spellcheck="false"
                value="<%=(item ? item.cortextodestaque : '') %>" />
        </div>
    </div>
</div>

<hr class="my-5" />

<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-image"></i> Imagens</h2>

<div class="row mb-5">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemintroducao">Imagem da Introdução</label>
            <input id="imagemintroducao" name="imagemintroducao" class="form-control" type="file"
                accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_introducao"
                    id="chkExcluirImagemIntroducaoAtual" />
                <label class="form-check-label" for="chkExcluirImagemIntroducaoAtual">
                    Excluir Imagem da Introdução Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaointroducao > 0) ? '' : 'd-none') %>" id="divImagemIntroducao">
        <div class="form-group">
            <label for="imgIntroducao">Imagem da Introdução Atual</label>
            <img id="imgIntroducao"
                src="<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaointroducao) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaointroducao) %>"><i
                class="fa fa-download"></i> Baixar Imagem da Introdução Atual</a>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemquestionario">Imagem do Questionário</label>
            <input id="imagemquestionario" name="imagemquestionario" class="form-control" type="file"
                accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_questionario"
                    id="chkExcluirImagemQuestionarioAtual" />
                <label class="form-check-label" for="chkExcluirImagemQuestionarioAtual">
                    Excluir Imagem do Questionário Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaoquestionario > 0) ? '' : 'd-none') %>" id="divImagemQuestionario">
        <div class="form-group">
            <label for="imgQuestionario">Imagem do Questionário Atual</label>
            <img id="imgQuestionario"
                src="<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaoquestionario) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaoquestionario) %>"><i
                class="fa fa-download"></i> Baixar Imagem do Questionário Atual</a>
    </div>
</div>

<div class="row mb-5">
    <div class="col-md-6">
        <div class="form-group">
            <label for="imagemlogo">Imagem da Logo</label>
            <input id="imagemlogo" name="imagemlogo" class="form-control" type="file" accept=".png, .jpg, .jpeg" />
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="excluir_imagem_logo"
                    id="chkExcluirImagemLogoAtual" />
                <label class="form-check-label" for="chkExcluirImagemLogoAtual">
                    Excluir Imagem da Logo Atual
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 <%- ((item && item.versaologo > 0) ? '' : 'd-none') %>" id="divImagemLogo">
        <div class="form-group">
            <label for="imgLogo">Imagem da Logo Atual</label>
            <img id="imgLogo"
                src="<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaologo) %>"
                style="display: block; width: 100%; max-width: 300px;" />
        </div>
        <a download target="_blank" class="btn btn-primary"
            href="<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=<%- (item && item.versaologo) %>"><i
                class="fa fa-download"></i> Baixar Imagem da Logo Atual</a>
    </div>
</div>

<% if (item) { %>

	<hr class="my-5" />

	<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-theater-masks"></i> Arquétipos</h2>
	
    <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <input type="hidden" id="idarquetipos" name="idarquetipos" />
                <select id="iddarquetiposselect" class="form-control" size="1">
                    <% for (let i=0; i < arquetipos.length; i++) { %>
                        <option value="<%= arquetipos[i].id %>">
                            <%= arquetipos[i].nome %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>
    </div>

	<hr class="my-5" />

	<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-list"></i> Questões</h2>

    <div class="mx-ncard">
		<table class="table table-flush table-striped table-hover" id="tabela">
			<thead>
				<tr>
					<th></th>
					<th class="text-center col-min">Ordem</th>
					<th>Título</th>
					<th class="obs-col quebra-linha">Enunciado</th>
				</tr>
			</thead>
			<tbody class="questao-contador" id="tabelaQuestoesBody">
				<% for (let i=0; i < item.questoes.length; i++) { %>
					<tr data-questao="<%= JSON.stringify(item.questoes[i]) %>" class="questao-movimento">
						<td class="col-min">
							<button class="btn btn-sm btn-outline-primary" title="Editar" type="button" data-editar="1"><i class="fa fa-fw fa-edit"></i></button>
							<button class="btn btn-sm btn-outline-danger" title="Excluir" type="button" data-excluir="1"><i class="fa fa-fw fa-times"></i></button>
						</td>
						<td class="questao-enum text-center col-min"></td>
						<td><%= item.questoes[i].titulo %></td>
						<td class="obs-col quebra-linha"><%= item.questoes[i].enunciado %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>

    <div class="row">
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" onclick="questao = null; criarModal();">
                <i class="fa fa-plus"></i> Adicionar Questão
            </button>
        </div>
    </div>
        
<% } %>

<%- contentFor("styles") %>


<style type="text/css">

.questao-contador {
	counter-reset: questao-contador;
}

.questao-enum::before {
	counter-increment: questao-contador;
	content: counter(questao-contador);
}

.questao-movimento {
	cursor: move;
}

</style>

<%- contentFor("scripts") %>

<script type="text/javascript" src="<%- staticRoot %>/lib/jquery-ui-1.13.2/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="<%- staticRoot %>/css/ckeditor.css" />
<script type="text/javascript" src="<%- staticRoot %>/lib/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#tabelaQuestoesBody").sortable().disableSelection();

	document.getElementById("urlbase").innerText = location.protocol + '//' + location.hostname + "/teste/";

	CKEDITOR.replace("textointroducao");

	prepareMultiselect("#iddepartamentoselect", { title: "Departamento", label: "Departamento" });
	prepareMultiselect("#idpublicoalvoselect", { title: "Público-alvo", label: "Público-alvo" });

	//<% if (item) { %>

	setMultiselectSelection("#iddepartamentoselect", [<%- item.iddepartamento.join(",") %>]);
	setMultiselectSelection("#idpublicoalvoselect", [<%- item.idpublicosalvos.join(",") %>]);
	
	prepareMultiselect("#iddarquetiposselect", { title: "Arquétipos", label: "Arquétipos" });
	setMultiselectSelection("#iddarquetiposselect", [<%- item.idarquetipos.join(",") %>]);
	
	const arquetipos = [<%- arquetipos.map(d => JSON.stringify({id:d.id, nome:d.nome})).join(",") %>];
	const departamentos = [<%- departamentos.map(d => JSON.stringify([d.id])).join(",") %>];

	let arquetiposSelecionados;
	let arquetiposFiltrados;
	let optionsArquetipos;
	let tabela = null;
	let trClicada = null;
	let questao = null;

	function criarModal() {
		const modalAntigo = document.getElementById("meuModal");
		if (modalAntigo) modalAntigo.remove();

		//sincronizar os arquetipos selecionados com as opções do modal
		arquetiposSelecionados = getMultiselectSelection("#iddarquetiposselect");
		arquetiposFiltrados = arquetipos.filter(a => arquetiposSelecionados.includes(a.id.toString()));
		optionsArquetipos = arquetiposFiltrados.map(a => `<option value="${a.id}">${a.nome}</option>`).join("");

		const modalHTML = `
		<div class="modal fade" id="meuModal" tabindex="-1" role="dialog" aria-labelledby="meuModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="meuModalLabel">${(questao ? 'Editar' : 'Adicionar')} Questão</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
				<label for="titulo">Título</label>
				<input type="text" class="form-control" id="titulo" placeholder="Digite o título">
				</div>
				<div class="form-group">
				<label for="enunciado">Enunciado</label>
				<textarea class="form-control" id="enunciado" rows="5" placeholder="Digite o enunciado"></textarea>
				</div>
				<hr class="my-5" />
				<h2 class="mt-0 mb-5 text-primary text-center"><i class="fa fa-list-ol"></i> Alternativas</h2>
				<div class="list-group" id="listaAlternativas"></div>
				<button type="button" class="btn btn-dark mt-3" onclick="adicionarAlternativa()" id="btn-alternativa">
					<i class="fa fa-plus"></i> Adicionar Alternativa
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="salvarQuestao()">OK</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>
			</div>
		</div>
		</div>`;

		document.body.insertAdjacentHTML("beforeend", modalHTML);

		if (questao) {
			document.getElementById("titulo").value = questao.titulo;
			document.getElementById("enunciado").value = questao.enunciado;
			questao.alternativas.forEach(a => adicionarAlternativa(a.texto, a.arquetipoid));
		}

		$("#meuModal").modal("show");
	}

	function adicionarAlternativa(texto, arquetipoid) {
		const lista = document.getElementById('listaAlternativas');
		const alternativa = document.createElement('div');
		alternativa.className = 'list-group-item d-flex align-items-center';
		
		if(texto){
			optionsArquetipos = arquetiposFiltrados.map(a => `<option value="${a.id}" ${a.id == arquetipoid ? 'selected' : ''}>${a.nome}</option>`).join("");
		}

		alternativa.innerHTML = `
			<input type="text" class="form-control mr-2" name="alternativaTexto[]" value="${encodeValue(texto || '')}" placeholder="Digite a alternativa" style="flex: 2;">
			<select class="form-control mr-2" name="alternativaArquetipo[]" value="${arquetipoid}" style="flex: 1;">
			<option value="" hidden>Selecione...</option>
			${optionsArquetipos}
			</select>
			<button type="button" class="btn btn-outline-danger" onclick="removerAlternativa(this)"><i class="fa fa-times"></i></button>
		`;

		lista.appendChild(alternativa);
	}

	function removerAlternativa(btn) {
		btn.parentElement.remove();
	}

	function salvarQuestao() {
		const titulo = document.getElementById('titulo').value.trim();
		const enunciado = document.getElementById('enunciado').value.trim();
		const alternativasTexto = Array.from(document.getElementsByName('alternativaTexto[]')).map(input => input.value.trim());
		const alternativasArquetipo = Array.from(document.getElementsByName('alternativaArquetipo[]')).map(select => select.value);

		if (!titulo) {
			Swal.error('O título é obrigatório. Preencha-o.');
			return;
		}

		if (!enunciado) {
			Swal.error('O enunciado é obrigatório. Preencha-o.');
			return;
		}

		if (alternativasTexto.length < 2) {
			Swal.error('Adicione pelo menos duas alternativas.');
			return;
		}

		for (let i = 0; i < alternativasTexto.length; i++) {
			if (!alternativasTexto[i]) {
				Swal.error('O texto da alternativa não pode estar vazio. Preencha-o.');
				return;
			}
			if (!alternativasArquetipo[i]) {
				Swal.error('Selecione um arquétipo para cada alternativa.');
				return;
			}
		}

		if (questao) {
			questao.titulo = titulo;
			questao.enunciado = enunciado;
			questao.alternativas = alternativasTexto.map((texto, index) => ({
				texto: texto,
				arquetipoid: parseInt(alternativasArquetipo[index])
			}));

			$(trClicada).attr("data-questao", JSON.stringify(questao));
			const tds = $(trClicada).find("td");
			$(tds[2]).text(questao.titulo);
			$(tds[3]).text(questao.enunciado);
		} else {
			const novaQuestao = {
				id: Date.now(),
				titulo: titulo,
				enunciado: enunciado,
				alternativas: alternativasTexto.map((texto, index) => ({
					texto: texto,
					arquetipoid: parseInt(alternativasArquetipo[index])
				}))
			};

			$("#tabelaQuestoesBody").append(`
				<tr data-questao="${encodeValue(JSON.stringify(novaQuestao))}" class="questao-movimento">
					<td class="col-min">
						<button class="btn btn-sm btn-outline-primary" title="Editar" type="button" data-editar="1"><i class="fa fa-fw fa-edit"></i></button>
						<button class="btn btn-sm btn-outline-danger" title="Excluir" type="button" data-excluir="1"><i class="fa fa-fw fa-times"></i></button>
					</td>
					<td class="questao-enum text-center col-min"></td>
					<td>${encode(novaQuestao.titulo)}</td>
					<td class="obs-col quebra-linha">${encode(novaQuestao.enunciado)}</td>
				</tr>
			`);
		}

		$("#meuModal").modal("hide");
	}

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		trClicada = this.parentNode.parentNode;
		questao = JSON.parse(trClicada.getAttribute("data-questao"));

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel("Tem certeza que deseja excluir esta questão?").then((result) => {
				if (result.isConfirmed)
					$(trClicada).remove();
			});
		} else if (this.getAttribute("data-editar")) {
			criarModal();
		}
	});

	//<% } %>

	$("#form").validate({
		rules: {
			nome: {
				required: true
			},
			nomeexterno: {
				required: true,
			},
			iddisponibilidade: {
				required: true,
			},
			iddepartamento: {
				required: true,
			},
			anonimo: {
				required: true,
			},
			idpublicoalvo: {
				required: true,
			},
			url: {
				required: true,
				// url: true
			},
			descricao: {
				required: true,
			},
			corfundopagina: {
				required: true,
			},
			corfundocard: {
				required: true,
			},
			cortextocard: {
				required: true,
			},
			cordestaque: {
				required: true,
			},
			cortextodestaque: {
				required: true,
			},
			imagemintroducao: {
				tamanhoArquivoMaximoKiB: 16000,
			},
			imagemquestionario: {
				tamanhoArquivoMaximoKiB: 16000,
			},
			imagemlogo: {
				tamanhoArquivoMaximoKiB: 2048,
			},
			idarquetipos: {
				required: true
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			$("#iddepartamento").val(getMultiselectSelection("#iddepartamentoselect").join(","));
			$("#idpublicosalvos").val(getMultiselectSelection("#idpublicoalvoselect").join(","));
			$("#hiddentextointroducao").val(CKEDITOR.instances.textointroducao.getData());
			$("#questoes").val("[" + $("#tabelaQuestoesBody").find("tr").map(function() { return $(this).attr("data-questao"); }).get().join(",") + "]");

			//<% if (item) { %>

			$("#idarquetipos").val(getMultiselectSelection("#iddarquetiposselect").join(","));

			JsonWebApi.postFormData("<%- root %>/api/questionario/editar", new FormData(form), function (response) {
				if (response.success) {

					const imagemIntroducao = document.getElementById("imagemintroducao");
					const chkExcluirImagemIntroducaoAtual = document.getElementById("chkExcluirImagemIntroducaoAtual");
					const imagemQuestionario = document.getElementById("imagemquestionario");
					const chkExcluirImagemQuestionarioAtual = document.getElementById("chkExcluirImagemQuestionarioAtual");
					const imagemLogo = document.getElementById("imagemlogo");
					const chkExcluirImagemLogoAtual = document.getElementById("chkExcluirImagemLogoAtual");

					if (imagemIntroducao.value) {
						imagemIntroducao.value = "";
						$("#imgIntroducao").attr("src", "<%- staticRoot %>/img/questionario/introducao/<%- (item && item.id) %>.jpg?v=" + response.value);
						$("#divImagemIntroducao").removeClass("d-none");
					} else if (chkExcluirImagemIntroducaoAtual.checked) {
						$("#divImagemIntroducao").addClass("d-none");
					}

					if (imagemQuestionario.value) {
						imagemQuestionario.value = "";
						$("#imgQuestionario").attr("src", "<%- staticRoot %>/img/questionario/<%- (item && item.id) %>.jpg?v=" + response.value);
						$("#divImagemQuestionario").removeClass("d-none");
					} else if (chkExcluirImagemQuestionarioAtual.checked) {
						$("#divImagemQuestionario").addClass("d-none");
					}

					if (imagemLogo.value) {
						imagemLogo.value = "";
						$("#imgLogo").attr("src", "<%- staticRoot %>/img/questionario/logo/<%- (item && item.id) %>.jpg?v=" + response.value);
						$("#divImagemLogo").removeClass("d-none");

					} else if (chkExcluirImagemLogoAtual.checked) {
						$("#divImagemLogo").addClass("d-none");
					}

					chkExcluirImagemQuestionarioAtual.checked = false;
					chkExcluirImagemLogoAtual.checked = false;
					chkExcluirImagemIntroducaoAtual.checked = false;
					Swal.success("Questionário alterado com sucesso! " + emoji.happy);
				}
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/questionario/criar", new FormData(form), function (response) {
				if (response.success) {
					CKEDITOR.instances.textointroducao.setData("");
					resetForm("#form");
					Swal.success("Questionário criado com sucesso! " + emoji.happy).then(() => {
						JsonWebApi.redirect("<%- root %>/questionario/editar?id=" + response.value);
					});
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	
	//]]>
</script>
