<table class="table table-flush table-striped table-hover" id="tabela"></table>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var tabela = prepareDataTable("tabela", {
		order: [[1, "asc"]],
		deferRender: true,
		columns: [
			{ title: "", "class": "col-min", searchable: false, orderable: false, data: "id", render: function (v, type, row) { return '<a target="_blank" title="Editar" href="<%- root %>/questionario/editar?id=' + row.id + '" class="btn btn-sm btn-outline-primary"><i class="fa fa-fw fa-edit"></i></a> <a target="_blank" title="Visualizar" href="<%- root %>/teste/' + row.url + '" class="btn btn-sm btn-outline-success"><i class="fa fa-fw fa-link"></i></a> <a target="_blank" title="Relatório de Submissões" href="<%- root %>/questionario/relatorio?id=' + row.id + '" class="btn btn-sm btn-outline-success"><i class="fa fa-fw fa-table"></i></a> <button title="Excluir" type="button" data-excluir="1" class="btn btn-sm btn-outline-danger"><i class="fa fa-fw fa-times "></i></button>'; } },
			{ title: "Nome", render: encode, data: "nome" },
			{ title: "Departamento", "class": "obs-col quebra-linha", render: encode, data: "departamentos" },
		],
		data: <%- JSON.stringify(lista) %>,
		export: { xlsx: true, title: "Questionários" }
	});

	$("#tabela").on("click", "tbody button", function () {
		if (JsonWebApi.active)
			return;

		var trClicada = this.parentNode.parentNode,
			nome = null,
			questionario = tabela.row(trClicada).data();

		if (this.getAttribute("data-excluir")) {
			Swal.okcancel({
				html: 'Tem certeza que deseja excluir o questionário "' + questionario.nome + '"? Esta operação NÃO pode ser desfeita!<br/><br/>Para confirmar a exclusão, por favor, digite abaixo o nome do questionário conforme exibido acima.<br/><br/><label for="txtExcluirNome">Nome do Questionário</label><input type="text" class="form-control" spellcheck="false" autocomplete="off" id="txtExcluirNome" />',
				confirmButtonText: "Excluir",
				preConfirm: function () {
					nome = $("#txtExcluirNome").val().toLowerCase();
					return true;
				}
			}, null, true).then(function (result) {
				if (JsonWebApi.active || !trClicada)
					return;

				if (result.value) {
					if (nome !== questionario.nome.toLowerCase()) {
						Swal.error("O nome do questionário não confere! " + emoji.sad);
						return;
					}

					Swal.wait();

					JsonWebApi.delete("<%- root %>/api/questionario/excluir", function (response) {
						if (response.success) {
							Swal.success("Questionário excluído com sucesso! " + emoji.happy);
							tabela.row(trClicada).remove().draw();
						} else {
							Swal.error(response.value + " " + emoji.sad);
						}
						trClicada = null;
					}, "id", questionario.id);
				}
			});
		}
	});

	//]]>
</script>
